<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_access records</h1>
        <table border="5px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
        {% for ar in AccessRecordform %}
            <tr>
                <td>{{ar.name}}</td>
                <td>{{ar.date}}</td>
                <td>{{ar.author}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>